@model IEnumerable<ClientAppBigBazzar.Models.Products>

@{
    var CustomerView = (bool)ViewData["CustomerView"];  //three conditions work on the products table and seen by the traders and customers
    var TraderView = (bool)ViewData["TraderView"];
    var SearchResult = (bool)ViewData["SearchResult"];
}


@if(TraderView && !CustomerView && !SearchResult)
{
    <p>
    <a class="btn-primary" asp-action="ProductsCreate">Add Products</a>
    </p>
}
@if(CustomerView && !TraderView && !SearchResult)
{
    <p>
   <button> <a class="btn-success text-dark" asp-controller="Cart" asp-action="CartsByCustomerId">My Cart</a></button>   @* It can shows all the carts of a particular customerId*@
    </p>
}
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                
                      
                    @if (TraderView)
                    {
                        @Html.DisplayFor(modelItem => item.ProductQuantity)

                    }
                    else
                    {
                        @if (item.ProductQuantity < 5)
                        {
                            <h6 style="color:red">Out of Stock</h6>
                        }
                        else
                        {
                            <h6 style="color:green">Available</h6>
                        }
                    }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CategoryName)
            </td>
            
           @if(TraderView && !CustomerView && !SearchResult)
                {
                    
                
                <td>
                <a class="btn-primary" asp-controller="Products"  asp-action="EditProducts" asp-route-id="@item.ProductId">Update</a> |
                <a class="btn-danger" asp-controller="Products" asp-action="DeleteProducts" asp-route-id="@item.ProductId">Delete</a>
            </td>
                }
                @if(CustomerView && !TraderView && !SearchResult)
                {
                <td>
                <a class="btn-primary" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.ProductId">Add To Cart</a>
                </td>
                }

        </tr>
}
    </tbody>
</table>
